<section class="content">
	<div class="row">
		<div class="col-md-12">
			<div class="box box-primary">
				<div class="box-header">
					<h3 class="box-title">System Log</h3>
				</div>
				<div class="box-body table-responsive">
					<ngx-datatable class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="40"
						[footerHeight]="50" [rowHeight]="'auto'" [offset]="page.pageNumber" [limit]="page.size"
						[loadingIndicator]="loadingIndicator">
						<ngx-datatable-column name="userName" [resizeable]="false" [sortable]="true" [draggable]="true"
							[canAutoResize]="false" [width]="280">
							<ng-template ngx-datatable-header-template>
								User Name
							</ng-template>
							<ng-template>
								{{value}}
							</ng-template>
						</ngx-datatable-column>
						<ngx-datatable-column name="description" [sortable]="true" [draggable]="true"
							[resizeable]="true" [canAutoResize]="true" [width]="400">
							<ng-template ngx-datatable-header-template>
								Description
							</ng-template>
							<ng-template>
								{{value}}
							</ng-template>
						</ngx-datatable-column>
						<ngx-datatable-column name="severity" [resizeable]="false" [sortable]="true" [draggable]="true"
							[canAutoResize]="false" [width]="100">
							<ng-template ngx-datatable-header-template>
								Severity
							</ng-template>
							<ng-template>
								{{value}}
							</ng-template>
						</ngx-datatable-column>
						<ngx-datatable-column prop="timeStamp" [resizeable]="false" [sortable]="true" [draggable]="true"
							[canAutoResize]="false" [width]="200">
							<ng-template let-column="column" ngx-datatable-header-template>
								TimeStamp
							</ng-template>
							<ng-template let-value="value" ngx-datatable-cell-template>
								{{value.toDate() | date: 'medium'}}
							</ng-template>
						</ngx-datatable-column>
					</ngx-datatable>
				</div>
			</div>
		</div>
	</div>
</section>