<div class="box box-primary">
	<div class="box-header with-border">
		<h3 class="box-title">Compose New Message</h3>
	</div>
	<div class="box-body">
		<div class="form-group">
			<ng-select [items]="skills" bindLabel="name" bindValue="id" [multiple]="true" placeholder="Select skills" clearAllText="Clear"
			 formControlName="skillIds">
			</ng-select>
		</div>
		<div class="form-group">
			<input class="form-control" placeholder="To:">
        </div>
        <div class="form-group">
            <input class="form-control" placeholder="Subject:">
        </div>
        <div class="form-group">
            <ace-editor #editor style="height:200px;">
            </ace-editor>
            <button (click)='getValue()'>get value</button>
        </div>
    </div>
    <div class="box-footer">
        <div class="pull-right">
            <button type="button" class="btn btn-default"><i class="fa fa-pencil"></i> Draft</button>
            <button type="submit" class="btn btn-primary"><i class="fa fa-envelope-o"></i> Send</button>
        </div>
        <button type="reset" class="btn btn-default"><i class="fa fa-times"></i> Discard</button>
    </div>
</div>