<section class="content">
	<div class="row">
		<div class="col-md-3 col-sm-6 col-xs-12">
			<div class="info-box">
				<span class="info-box-icon bg-aqua"><i class="ion ion-ios-gear-outline"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">CPU Traffic</span>
            </div>            
          </div>          
        </div>        
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-red"><i class="fa fa-google-plus"></i></span>
            <div class="info-box-content"> 
              <span class="info-box-text">Likes</span>
              <span class="info-box-number">41,410</span>
            </div>         
          </div>    
        </div>        
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-green"><i class="ion ion-ios-cart-outline"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Sales</span>
              <span class="info-box-number">760</span> 
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-yellow"><i class="ion ion-ios-people-outline"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Total Members</span>
              <span class="info-box-number">2,000</span>
            </div>
          </div>
        </div>
      </div>
          <div class="row">
        <div class="col-md-8">
          <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">Mail Report</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body no-padding">
              <div class="row">
                <div class="col-md-9 col-sm-8">  
                  <div  style="display: block;" *ngIf="getRecords()"> 
                    <canvas baseChart 
                    [datasets]="barChartData"
                    [labels]="barChartLabels"
                    [options]="barChartOptions"
                    [plugins]="barChartPlugins"
                    [legend]="barChartLegend"
                    [chartType]="barChartType">
                    </canvas>   
                  </div>                          
                </div>
                <div class="col-md-3 col-sm-4">
                  <div class="pad box-pane-right bg-green" style="min-height: 362px">
                    <div class="description-block margin-bottom">
                      <div class="sparkbar pad" data-color="#fff"><canvas    style="display: inline-block; width: 20px; height: 25px; vertical-align: top;"></canvas></div>
                      <h5 class="description-header">{{page.totalElements}}</h5>
                      <span class="description-text">Mail Send</span>
                    </div>
                    <div class="description-block margin-bottom">
                      <div class="sparkbar pad" data-color="#fff"><canvas    style="display: inline-block; width: 20px; height: 25px; vertical-align: top;"></canvas></div>
                      <h5 class="description-header">{{receivedPage.totalElements}}</h5>
                      <span class="description-text">Mail Received</span>
                    </div>
                    <div class="description-block">
                      <div class="sparkbar pad" data-color="#fff"><canvas   style="display: inline-block; width: 20px; height: 25px; vertical-align: top;"></canvas></div>
                      <h5 class="description-header">{{page.totalElements+ receivedPage.totalElements}}</h5>
                      <span class="description-text">Total Mails</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">      
          <div class="info-box bg-yellow">
            <span class="info-box-icon"><i class="ion ion-ios-pricetag-outline"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Inventory</span>
              <span class="info-box-number">5,200</span>
              <div class="progress">
                <div class="progress-bar" style="width: 50%"></div>
              </div>
              <span class="progress-description">
                    50% Increase in 30 Days
                  </span>
            </div>           
          </div>        
          <div class="info-box bg-green">
            <span class="info-box-icon"><i class="ion ion-ios-heart-outline"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Mentions</span>
              <span class="info-box-number">92,050</span>
              <div class="progress">
                <div class="progress-bar" style="width: 20%"></div>
              </div>
              <span class="progress-description">
                    20% Increase in 30 Days
                  </span>
            </div>     
          </div>     
          <div class="info-box bg-red">
            <span class="info-box-icon"><i class="ion ion-ios-cloud-download-outline"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Downloads</span>
              <span class="info-box-number">114,382</span>
              <div class="progress">
                <div class="progress-bar" style="width: 70%"></div>
              </div>
              <span class="progress-description">
                    70% Increase in 30 Days
                  </span> 
            </div>
          </div>
            <div class="info-box bg-aqua">
            <span class="info-box-icon"><i class="ion-ios-chatbubble-outline"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Direct Messages</span>
              <span class="info-box-number">163,921</span>
              <div class="progress">
                <div class="progress-bar" style="width: 40%"></div>
              </div>
              <span class="progress-description">
                    40% Increase in 30 Days 
                  </span> 
            </div>
          </div>
        </div>
      </div>
    </section>