<aside class="main-sidebar">
	<section class="sidebar">
		<div class="user-panel">
			<div class="pull-left image">
				<img src="https://github.com/Genuine-Identity.png" class="img-circle" alt="User Image">
			</div>
			<div class="pull-left info">
				<p><a href="https://www.linkedin.com/in/genuine-identity/" target="_blank">Girish Nandgawe</a></p>
				<a href="https://www.linkedin.com/in/genuine-identity/" target="_blank"><i class="fa fa-circle text-success"></i>Online</a>
        </div>
      </div>
        <form [formGroup]="searchForm" (ngSubmit)="onSubmit()" autocomplete="off" class="sidebar-form">
          <div class="input-group"><div class="form-group has-feedback" [ngClass]="{'has-error': (f.search?.invalid && (f.search?.dirty || f.search?.touched)) || submitted && f.search.errors , 'has-success': f.search?.valid && (f.search?.dirty || f.search?.touched)}">
                <input type='text' 
                      class="form-control" 
                        placeholder="Search..." 
                        formControlName="search">                
              </div>
              <span class="input-group-btn">
                  <button   name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                  </button>
                </span>
          </div>
        </form>       
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>              
          <li class="treeview" [routerLinkActive]="'active'">
          <a style="cursor:pointer">
            <i class="fa fa-laptop"></i>
            <span>Admin Menu</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">           
            <!-- <li [routerLinkActive]="'active'">
              <a [routerLink]="'/admin/manage-user/add'"><i class="fa fa-edit"></i>Register User</a>
            </li>             -->
            <li [routerLinkActive]="'active'">
              <a [routerLink]="'/admin/user'"><i class="fa fa-edit"></i>User List</a>
            </li>             
          </ul>
        </li> 
        <li class="treeview" [routerLinkActive]="'active'" >
          <a style="cursor:pointer">
            <i class="fa fa-dashboard"></i>
            <span>Dashbard</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li [routerLinkActive]="'active'">
              <a [routerLink]="'/dashboard'"><i class="fa fa-pie-chart"></i>Dashboard 1</a>
            </li>  <li [routerLinkActive]="'active'">
              <a [routerLink]="'/dashboard/version-one'"><i class="fa fa-pie-chart"></i>Dashboard Version One</a>
            </li>
          </ul>
        </li>

        <li class="treeview" [routerLinkActive]="'active'" >
          <a style="cursor:pointer">
            <i class="fa fa-envelope"></i>
            <span>Mail</span> 
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li [routerLinkActive]="'active'">
              <a [routerLink]="'/mail/inbox'"><i class="fa fa-envelope"></i>Mail-Box</a>
            </li>
          </ul>
        </li> 
        <li class="treeview" [routerLinkActive]="'active'">
          <a style="cursor:pointer">
            <i class="fa fa-gears"></i>
            <span>System</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li [routerLinkActive]="'active'">
              <a [routerLink]="'/system/log'"><i class="fa fa-book"></i>Log</a>
            </li>
          </ul>
        </li>        
      </ul>
    </section>
</aside>