<!-- <section class="box">
  <div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">Default Box Example</h3>
    <div class="box-tools pull-right">
      <span class="label label-primary">Label</span>
    </div>
  </div>
  <div class="box-body">
    The body of the box
  </div>
  <div class="box-footer">
    The footer of the box
  </div>
</div>
	<div class="login-box-body">
		<p class="login-box-msg">Terms And Conditins</p>
		<p class="login-box-msg"> </p>
		Quit Smoking
	</div>
</section> -->
      <!-- Buttons, labels, and many other things can be placed here! -->
      <!-- Here is a label for example -->
<div class="box box-default" data-widget="box-widget">
  <div class="box-header">
    <h3 class="box-title">Box Tools</h3>
    <div class="box-tools">
      <!-- This will cause the box to be removed when clicked -->
      <button class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i></button>
      <!-- This will cause the box to collapse when clicked -->
      <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
    </div>
  </div>
</div>