<div class="row card-group">
	<div class="col-sm-4" *ngFor="let card of cards;">
		<div class="card" style="width: 14rem; margin:10px; ">
			<div>
				<img class="card-img-top" style="height:140px; width:200px"   src="https://creditkarmacdn-a.akamaihd.net/res/content/reviews/CCCitiBank1317/small.jpg" 
      alt="Card image cap"/>
			</div>
			<div class="card-body">
				<h5 class="card-title">
          {{card.title | truncate:25}}</h5>
				<p class="card-text">
					<b>Id</b> {{card.id}}
				</p>
				<p class="card-text">
				<b>User Id</b>	: {{card.userId}}
				</p>
				<p class="card-text">
					{{card.body | truncate:50}}
				</p>
				<p class="card-text">
          <input type="button" value="{{card.id}}" (click)="onClick(card.id)"/>
          </p>
			</div>
		</div>
	</div>
</div>